@charset "utf-8";

/* selector of element */
h1 {
  font-weight: 800;
}

main > .jumbotron h1 {
  display: block;
  margin-bottom: 1.25rem;
}

footer {
  margin-bottom: .5rem;
  border-top: 1px solid rgba(0, 0, 0, .05);
}

pre {
  padding: .5rem;
  color: color("white");
  background-color: rgba(0, 0, 0, .6);
}

div {
  & > code {
    vertical-align: middle;
  }
}

code {
  mark {
    padding-top: 0;
    padding-bottom: 0;
    border: 1px solid #000;
  }
}

/* selector of class, attribute, virtual state */
.card-body {
  & > .row {
    margin: 1rem .5rem;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
  }

  .container {
    padding: 0;
    margin-bottom: 1rem;
  }

  .box-square {
    display: inline-block;
    width: 7rem;
    height: 7rem;
  }

  div {
    .box {
      height: 10rem;
    }
  }
}

.example {
  margin: 1rem;
  p,
  pre {
    margin: 0;
  }
}

.example > [class*="col"] {
  padding: .5rem;
}

.navbar-brand {
  padding: 0 .625rem;
  color: rgba(255, 0, 0, .5);
  text-shadow: 0 0 .125rem rgba(255, 0, 0, .5);
  border: 1px solid rgba(255, 0, 0, .5);
  border-radius: .25rem;
  box-shadow: 0 0 0 .125rem rgba(255, 0, 0, .5);
}

.section-box {
  padding: 1.25rem;
  background-color: rgba(255, 193, 7, .2);
  border: 1px solid rgba(221, 221, 221, .86);
  border-radius: .25rem;
}

.sticky-top {
  top: -.2rem;
}

/* Carousel fade transition */
.carousel-fade {
  .carousel-item {
    position: absolute;
    display: block;
    opacity: 0;
    transition: opacity .75s ease-in-out;

    &.active {
      opacity: 1;
    }
  }
}

.sidemenu {
  span {
    .span-input {
      display: block;
      flex: 1;
    }
  }

  .sidemenu-form {
    position: relative;
    padding: 1rem;
    border-right: 1px solid rgba(0,0,0,.05);
    border-bottom: 1px solid rgba(0,0,0,.05);
  }

  .sidemenu-input{
    &:focus {
      border-color: #7952b3;
      box-shadow: 0 0 0 .2rem rgba(23, 162, 184, .25);
    }
  }

  .list-group {
    width: 100%;
  }
}

.sidemenu-content {
  .nav-item {
    display: block;

    a {
      color: rgba(0, 0, 0, .65);
    }

    .disabled {
      a {
        background-color: rgba(0, 0, 0, .35);
      }
    }

    &.active {
      a {
        color: rgba(0, 0, 0, 1);
        background-color: rgba(255, 193, 7, 1);
      }
    }

    &:hover a
    {
      color: rgba(0, 0, 0, .8);
      background-color: rgba(255, 193, 7, .6);
    }
  }
}

/* selector of id */

/* !important selector of entirety */

/* !important selector of element */

/* !important selector of class, attribute, virtual state */

/* !important selector of id */


/*
 *  each page
 */

/* index page */
[id*="tab-content-"] .row {
  height: 12.5rem;
  padding: .625rem;
}

.left-divider {
  border-left: 1px solid #eee;
}

/* loding */
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  display: none;
  width: 10rem;
  height: 10rem;
  margin: -5rem 0 0 -5rem;

  &-img {
    width: 8rem;
    height: 8rem;
    border: 1rem solid rgba(33, 33, 33, .3);
    border-top: 1rem solid #3498db;
    border-radius: 50%;
    animation: spin 2s linear infinite;
  }

  &-text {
    position: relative;
    top: -8rem;
    left: 0;
    z-index: 1;
    width: 8rem;
    height: 8rem;
    font-weight: 800;
    line-height: 8rem;
    text-align: center;
    vertical-align: middle;
  }
}

/* media size over 768px */
@media (min-width: 768px) {
  .sidemenu {
    padding: 0;
    border-right: 1px solid rgba(0,0,0,.05);
  }
  .sidemenu-list {
    height: calc(100vh - 11.45rem);
    overflow-y: auto;
  }
  .main-content {
    height: calc(100vh - 7rem);
    overflow-y: auto;
  }
  footer {
    padding-top: 1rem;
  }
}

/* media size under 768px */
@media (max-width: 768px) {
  .sidemenu {
    padding: 0;
    border-bottom: 1px solid rgba(0,0,0,.05);
  }
  footer {
    padding-top: 1rem;
    margin-top: 1rem;
  }
}
